# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Tests and coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS
Thumbs.db
.DS_Store