amqp==5.3.1
asgiref==3.12.1
billiard==4.2.4
celery==5.6.3
cfgv==3.5.0
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cross-web==0.7.0
distlib==0.4.3
Django==6.1
django-environ==0.14.0
django-redis==7.0.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
factory_boy==3.3.3
Faker==40.38.0
filelock==3.32.5
graphql-core==3.2.12
identify==2.6.19
iniconfig==2.3.0
kombu==5.6.2
nodeenv==1.10.0
packaging==26.3
platformdirs==4.11.7
pluggy==1.6.0
pre_commit==4.6.2
prompt_toolkit==3.0.53
psycopg==3.3.4
psycopg-binary==3.3.4
Pygments==2.21.0
PyJWT==2.13.0
pytest==9.1.1
pytest-django==4.14.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-discovery==1.6.0
PyYAML==6.0.3
redis==8.1.0
six==1.17.0
sqlparse==0.6.0
strawberry-graphql==0.327.3
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
vine==5.1.0
virtualenv==21.7.8
wcwidth==0.8.3
